# -*- coding: utf-8 -*-
"""
    webjobs
    ~~~~~~~~
    craigslist scraper
"""

from flask import Flask, render_template, request, send_file, abort, \
    redirect, make_response, url_for, jsonify
from raven.contrib.flask import Sentry


app = Flask(__name__)
app.debug = True
app.config['SECRET_KEY'] = 'supersecretkey'
app.config['SQLALCHEMY_DATABASE_URI'] = (
    'postgresql://username:password@localhost/webjobs')
app.config['SENTRY_DSN'] = ""
sentry = Sentry(app)
