{% extends 'layout.html' %}


{% block body %}
<div class="page-header">
  <h1>Search Web Jobs</h1>
</div>
<p class="lead">Web Jobs are scraped daily from all Craigslist cities.</p>
{{ form_fields(form, class="", button_title="Search", button_class="btn-primary") }}

<h3 class="num-results">{{ posts|length }} results</h3>

{#show the post results below #}
<table class="table posts">
	{%- for post in posts -%}	
	<tr>
		<td class="date">{{- post.timestamp|prettydate -}}</td>
		<td class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock body %}


{% block javascript %}
<script>
$(document.ready(function(){

}));
</script>
{% endblock javascript %}