{% extends 'layout.html' %}


{% block body %}
<div class="page-header">
  <h1>Search Web Jobs</h1>
</div>
<p class="lead">Web Jobs are scraped daily from all Craigslist cities.</p>
{{ form_fields(form, class="", button_title="Search", button_class="btn-primary") }}
{% if posts %}
	<h3 class="num-results">{{ posts|length }} results</h3>
{% endif %}
<div class="row posts">

	<div class="col-lg-6">
	{#show the post results below #}
	{%- for post in posts -%}
		<div class="post">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock body %}


{% block javascript %}
<script>
$(document.ready(function(){

}));
</script>
{% endblock javascript %}